name: Deploy

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
        ref: ${{ github.event.repository.default_branch }}
    - uses: actions-rs/toolchain@v1.0.7
      with:
        toolchain: stable
        override: true
    - name: Build
      run: cargo build
    - name: Extract version from tag
      id: get_version
      run: echo "::set-output name=version::${GITHUB_REF/refs\/tags\//}"
    - name: Commit version changes
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
    - name: Set and publish workspace crates
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO }}
      run: |
        cargo install cargo-workspaces
        cargo workspaces version custom ${{ steps.get_version.outputs.version }} \
          --exact --yes --no-git-tag --no-git-push \
          -m "Commit new release ${{ steps.get_version.outputs.version }}" --force "mavlink-*"
        cargo publish -p mavlink-core --no-verify
        cargo publish -p mavlink-bindgen --no-verify
        cargo publish -p mavlink --no-verify
    - name: Push commit
      run: |
        git push origin ${{ github.event.repository.default_branch }}
